.description_card {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 2em;
  background-color: hsl(200, 60%, 99%);
  border-radius: 20px;
  padding: 24px;

}

.header_content {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.logo_container {
  padding: 0 12px 12px 0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.elements_card h3 {
  margin: 0;
  color: #0d1b3e;
  font-size: 1.2rem;
}

.elements_card p {
  margin: 4px 0 0;
  color: hsl(226, 11%, 37%);
  line-height: 1.4;
  font-size: 0.95rem;
}

.container_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.btn_card {

  background: hsl(200, 60%, 99%);
  border: 1px solid #e2e8f0;
  padding: 8px 24px;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
  box-shadow: 0 0 0 1px hsl(0, 0%, 78%);
  color: hsl(227, 75%, 14%);
}

.btn_card:hover {
   background-color:  hsl(3, 77%, 44%);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
}

.switch input { display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .3s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #c00;
}

input:checked+.slider:before {
  transform: translateX(22px);
}