.header {
    background-color: hsl(200, 60%, 99%);
    border: solid 1px hsl(200, 60%, 99%);
    border-radius: 15px;
    margin-bottom: 2em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    box-shadow: 0 0 0 1px hsl(0, 0%, 78%);
    
}

.btn_dark{
    border: none;
    padding: 1em;
    border-radius: 15px;
}

