.container_menu {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;

}


.btn_list {
    display: flex;
    gap: 16px;
    list-style: none;
}

.btn_list li button {
    background-color: hsl(200, 60%, 99%);
    padding: 10px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 0 1px hsl(0, 0%, 78%);
}


.card_container {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

